.swiper {
    height: calc(4rem*2);
    width: 100%;

    .banner {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.serviceList {
    height: .8rem;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;

    .list {
        height: .8rem;
        background: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        li {
            flex: 1 1;
            color: #666;
            font-size: .24rem;
            text-align: center;

            .star {
                color: red;
                margin-right: .15rem;
                font-size: .3rem;
            }
        }

    }
}

.goodsMsgWrap {
    padding: .4rem;
    background: white;

    // height: 2rem*2;
    .title {
        font-weight: 500;
        font-size: 20px;
        padding: 5px 0;
        text-align: center;

    }

    .price {
        color: red;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0;
        text-align: center;
    }
}

.goodsSize {
    margin-top: .02rem;
    height: 1rem;
    padding: 0 .4rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .null {
        flex: 1 1;
        text-align: left;
        color: #2196f3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .xs {
        width: auto;
        padding: 0 .1rem;
        text-align: right;
        color: red;
        font-weight: bolder;
    }

    .check {

        width: auto;
        padding: 0 .1rem;
        text-align: right;
    }
}

.goodsAttribute {
    margin-top: .2rem;
    padding: .4rem;
    background: white;

    .shopMes {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2196f3;
        padding: .1rem 0;

    }

    .shopMes:before {
        content: '';
        width: .4rem;
        height: 1px;
        background: #2196f3;
        margin: 0 .2rem;
    }

    .shopMes:after {
        content: '';
        width: .4rem;
        height: 1px;
        background: #2196f3;
        margin: 0 .2rem;
    }

    li {
        display: flex;
        align-items: center;
        line-height: .8rem;
        background: #dcdfe6;
        margin-top: .1rem;


        .size {
            width: 20%;
            color: gray;
            padding: 0 .1rem;
            font-size: .32rem;
            text-align: center;
        }

        .val {
            flex: 1 1;
            font-size: .3rem;
            line-height: .6rem;
            padding: 0 .1rem;
        }

    }
}
.topicDetailImg{
    width: 100%;
    height: auto;
    p{
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        font-weight: normal;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
.problemItem{
    height: calc(1.3rem*2);
   
    .problem{
       
        font-size: .32rem;
        line-height: .6rem;
        span{
            color: red;
            margin-right: .1rem;
        }
    }
    .answer{
        font-size: .3rem;
        // line-height: calc(1.5rem*2);
        color: gray;
        padding: 10px 6px;
        
    }

}
.allLook{
    width: 100%;
    height: auto;
}