.item{
    height: auto;
    width: 100%;
}

.newGoodsBox{
    width: 100%;
    height: 460px;
    border-bottom: 10px solid #f9f7f8;
    .newGoodsTitle{
        height: 1rem;
        background: white;
        text-align: center;
        font-size: .3rem;
        line-height: 1rem;
        letter-spacing: .02rem;
        font-weight: bold;

    }
    .newGoodsWrap{
        background: white;
        display: flex;
        flex-wrap: wrap;
        
     .newGoodsItem{
        width: 50%;
        height: 4rem;
        .imgLazyload{
            opacity: 1;
            -webkit-transition: all 1s;
            transition: all 1s;
            width: 100%;
            height: 140px;
           img{
            height: 100%;
            width: 100%;
            }
        }
        .newGoodsName{
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .3rem;
        }
        .newGoodsPrice{
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .3rem;
        }
     }   
    }
}
.hotGoodsBox{
   width: 100%;
   height: 510px;
   border-bottom: 10px solid #f9f7f8;
   margin-top: .2rem;
   background: white;
    .hotGoodsTitle{
        height: 1rem;
        background: white;
        text-align: center;
        font-size: .3rem;
        line-height: 1rem;
        letter-spacing: .02rem;
        font-weight: bold;
       
    }
    .hotGoodsWrap{
        width: 100%;
        padding: 0 .2rem;
        min-height: 140px;
        // display: flex;
        .hotGoodsItem{
            height: 150px;
            position: relative;
            padding: 0.1rem 0;
            display: flex;
            width: 100%;
            border-bottom: 1px solid #ccc;
        }
        .imgLazyload{
            opacity: 1;
            -webkit-transition: all 1s;
            transition: all 1s;
            width: 140px;
            height: 150px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .hotGoodsInfos{
            flex: 1 1;
            padding: 0.5rem 0;
            .hotGoodsName{
                font-size: .32rem;
                height: 33.3333%;
                display: flex;
                align-items: center;
            }
            .hotGoodsInfo{
                color: darkgray;
                font-size: .28rem;
                height: 33.3333%;
                display: flex;
                align-items: center;
            }
            .hotGoodsPrice{
                color: darkred;
                font-size: .3rem;
                height: 33.3333%;
                display: flex;
                align-items: center;
            }
        }
    }
}
.topGoodsBox{
    margin-top: .2rem;
    background: white;
    width: 100%;
    height: 6.3rem;
    .topGoodsTitle{
        height: 1rem;
        background: white;
        text-align: center;
        font-size: .3rem;
        line-height: 1rem;
        letter-spacing: .02rem;
        font-weight: bold;
    }
}