.main {
  width: 100%;
  height: 100%;
}

.userMesWrap {
  height: 3rem;
  background: url("http://yanxuan.nosdn.127.net/d069279e5834bbca17065a9855a014bf.png") no-repeat;
  background-size: 100%;
  padding: .7rem .4rem;
  display: flex;
}

.userPower {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.userPower .userLogo {
  width: 1.6rem;
  background-size: 100%;
  height: 100%;
  border-radius: 50%;
}

.userPower .userMsgs {
  flex: 1 1;
  padding: .2rem;
  padding-right: 0;
  height: 100%;
}

.loginOut {
  height: 1rem;
  width: 100%;
  margin: .2rem 0;
  background: white;
  text-align: center;
  line-height: 1rem;
}
