.header {
  width: 100%;
  height: 1rem;
  background: white;
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.header .title {
  flex: 1 1;
  font-size: .32rem;
  text-align: center;
}

.header .right {
  width: .6rem;
}

.nav {
  width: 100%;
  height: calc(.4rem*2);
}

.nav .navtitle {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.nav .navtitle li {
  width: 200%;
  overflow: auto;
  display: flex;
}

.nav .navtitle li span {
  flex: 1;
  text-align: center;
  line-height: calc(.4rem*2);
}

.nav .navtitle .active {
  color: #108EE9;
  border-bottom: 3px #108EE9 solid;
}

.main {
  flex: 1;
  overflow: auto;
}

.main .categoryDetail {
  padding: .2rem 0;
  background: #f9f7f8;
}

.main .categoryDetail .top {
  height: .6rem;
  line-height: .6rem;
  text-align: center;
}

.main .categoryDetail .bot {
  color: gray;
  height: .5rem;
  line-height: .5rem;
  font-size: .28rem;
  text-align: center;
}

.main .goodsList {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.main .goodsList .list {
  flex: 1;
  height: auto;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
}

.main .goodsList .list dt img {
  width: 100%;
  min-height: 2rem;
  height: auto;
}

.main .goodsList .list dd .size {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: .3rem;
  padding-top: .1rem;
}

.main .goodsList .list dd .price {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: red;
}
