
.swiper-container {
    width: 100%;
    height: calc(2rem*2);

    .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.channelWrap {
    width: 100%;
    height: 90px;
    display: flex;
    border-bottom: 10px solid #f9f7f8;

    dl {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
        
        dt {
            width: 30px;
            height: 30px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        dd{
            padding: 4px 0;
        }
    }
}

.brandBox {
    width: 100%;
    height: 280px;
    border-bottom: 10px solid #f9f7f8;
    .brandTitle {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
    }

    .brandWrap {
        width: 100%;
        height: 220px;
        display: flex;
        flex-wrap: wrap;

        .brandItem {
            width: 50%;
            height: 110px;
            position: relative;
            

        }
    }
   .imgLazyload {
        opacity: 1;
        -webkit-transition: all 1s;
        transition: all 1s;
        width: 100%;
        height: 110px;
    }
    .brandItemName{
        position: absolute;
        top: .2rem;
        left: .2rem;
        font-size: .3rem;
    }
    .brandItemMinPrice{
        position: absolute;
        top: .6rem;
        left: .2rem;
        font-size: .24rem;
        color: darkgrey
    }
}

.cateGoryBox{
    height: auto;
    .cateGoryName{
        height: 1rem;
        text-align: center;
        line-height: 1rem;
        background: #f9f7f8
    }
    .cateGoryGoodsWrap{
        display: flex;
        flex-wrap: wrap;
        // width: 100%;
        // height: 19rem;
        a{
            width: 50%;
            height: 4.7rem;
            background: white;
            padding: .2rem;
            position: relative;
            text-decoration: none;
            outline: none;
            border: 1px solid #f9f7f8;
        }
        .goodsItemImg{
            width: 100%;
            min-height: 2rem;
            height: auto;
            .imgLazyload{
                opacity: 1;
                -webkit-transition: all 1s;
                transition: all 1s;
                width: 100%;
                height: 3rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .goodsItemName{
            text-align: center;
            font-size: .28rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-bottom: .3rem;
            padding-top: .1rem;
        }
        .goodsItemPrice{
            text-align: center;
            font-size: .28rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: red;
        }
    }
}